
module.exports = {
  apps: [
    {
      name: 'transacmoney-admin',
      script: 'node .output/server/index.mjs',
      instances: 1,
      exec_mode: 'fork', // ou 'cluster' si tu veux le multi-threading
       env: {
        NODE_ENV: 'production',
        PORT: 3700,
      },
      watch: false,
      error_file: './logs/err.log',
      out_file: './logs/out.log',
      log_file: './logs/combined.log',
      time: true,
    },
  ],
};

